*{margin: 0;padding: 0;}
body{background-color: #4C6A91;font-family: 'Palette Mosaic', cursive;color:white;}
.rc{background-color: cadetblue;max-width: 1000px;margin: 0 auto;padding: 10px;}
.rim{width: 100px;height: 120px;border: 3px solid black;border-radius: 50%;float: left;}
.rbio{float: left;padding: 30px;}
h1,h2,h3,h4,h5{color:navy}
.rcntk{float: right;padding: 35px;}
.rcntk a{text-decoration: none;font-weight: bold;color: navy;}
.rcntk a:hover{background-color: lightgreen;color:tomato;text-decoration:underline;}
.div-clear{clear: both;}
hr{border: solid black 3px;width: 100%;margin: 30px auto;border-bottom: none;}
.psection{}
.p-cntain{float: left;width: 30%;}
.f-contain{float: right;color:blue;width: 70%;}
.f-contain p:hover{background-color: lightgreen;color:tomato;}
.shr{border: solid black 1px;width: 100%;margin: 30px auto;}
.w-section{}
.w-eprnc{float:left;width: 30%;}
.w-contain{float:right;color: blue;width: 70%;}
.e-section{}
.e-eprnc{float: left;width: 30%;}
.e-contain{float: left;width: 35%;color: blue;}
.e-contain a:hover{background-color: lightgreen;color:tomato;text-decoration:underline;}
.e2-contain{float: left;width: 35%;color: blue;}
.e2-contain a:hover{background-color: lightgreen;color:tomato;text-decoration:underline;}
.h-section{}
.h-eprnc{float:left;width: 30%;}
.h-contain{float:right;color: blue;width: 70%;}
.r-section{}
.r-eprnc{float: left;width: 30%;}
.r-contain{float: left;width: 35%;color: blue;}
.r-contain a:hover{background-color: lightgreen;color:tomato;text-decoration:underline;}
.r2-contain{float: left;width: 35%;color: blue;}
.r2-contain a:hover{background-color: lightgreen;color:tomato;text-decoration:underline;}
.f-section{background-color:black;text-align: center;color: tomato;padding: 20px;}
.f-section a{color: tomato;text-decoration: none;margin: 20px;}
.f-section a:hover{background-color: lightgreen;color:tomato;text-decoration:underline;}
.f-section p{color: tomato;text-decoration: none;margin-top: 10px;}